.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
}

.clear-button {
  background-color: rgb(228, 236, 233);
  color: black;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
}
.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
.loading-spinner {
  display: block;
  margin: -15px auto;
  height: 40px;
}