#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: flex-end;
}

