.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.welcome-message {
  text-align: center;
  color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
}

