.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 300px;
}
.inputs input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  margin: 5px 10px;
  gap: 10px;
}
.buttons button {
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
}
.password {
  display: flex;
}
.password button {
  background-color: rgb(108, 117, 125);
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 10px;
  height: 40px;
}