.notfoundpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.notfoundpage-container p {
  margin: auto;
  font-size: 2rem;
  color: green;
  text-align: center;
}


